$darkslate-50: #f7f7f7;
$darkslate-200: #c9c9c9;
$darkslate-100: #e3e3e3;
$darkslate-300: #6b6b6b;
$darkslate-400: #383838;
$darkslate-500: #171717;
$darkslate-600: #141414;
$darkslate-700: #111111;
$darkslate-800: #0e0e0e;
$darkslate-900: #0b0b0b;

:root {
    --primary-color: #22c55e;
}

* {
    box-sizing: border-box;
}

body {
    background-color: $darkslate-700;
    color: white;
}

body::before {
    content: "";
    height: 100vh;
    width: 101vw;
    position: fixed;
    z-index: -1;
    background-color: #000;
    background-image: url(../assets/topography.svg);
    mask: linear-gradient(-360deg, transparent 40%, white 100%);
    -webkit-mask: linear-gradient(-360deg, transparent 40%, white 100%);
}

section {
    border: 1px solid $darkslate-400;
    padding: 20px;
    border-radius: 10px;
    background-color: $darkslate-500;

    &:hover,
    &:focus {
        border-color: var(--primary-color);
    }
}

.home {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    &__intro {
        position: relative;
        padding: 20px;
        overflow: hidden;

        &-image {
            position: absolute;
            width: 40%;
            right: -20px;
            bottom: -20px;
            opacity: 0.5;
        }

        &-text {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 20px;

            & p {
                margin: 0;
            }

            &-wrapper {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            &-welcome {
                color: $darkslate-300;
                font-size: 0.825rem;
            }

            &-name {
                font-weight: bold;
            }
        }
    }

    &__timezone {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &-title {
            margin: 0;
        }

        &-info {
            display: flex;
            gap: 8px;
            font-size: 1.7rem;
        }

        & p {
            margin: 0;
        }
    }

    &__current {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 12px;

        & p,
        & h4 {
            margin: 0;
        }

        &-header {
            display: flex;
            justify-content: space-between;

            &-question {
                font-size: 0.75rem;
                color: $darkslate-300;
            }
        }

        &-icon {
            background-color: rgb(34 197 94);
            width: 12px;
            height: 12px;
            border-radius: 50%;
            box-shadow: 0 0 0 rgba(34, 197, 94, 0.4);
            animation: pulse 1s infinite;

            @-webkit-keyframes pulse {
                0% {
                    -webkit-box-shadow: 0 0 0 0 rgba(74, 222, 128, 0.75);
                }
                70% {
                    -webkit-box-shadow: 0 0 0 5px rgba(74, 222, 128, 0);
                }
                100% {
                    -webkit-box-shadow: 0 0 0 0 rgba(74, 222, 128, 0);
                }
            }
            @keyframes pulse {
                0% {
                    -moz-box-shadow: 0 0 0 0 rgba(74, 222, 128, 0.75);
                    box-shadow: 0 0 0 0 rgba(74, 222, 128, 0.75);
                }
                70% {
                    -moz-box-shadow: 0 0 0 5px rgba(74, 222, 128, 0);
                    box-shadow: 0 0 0 5px rgba(74, 222, 128, 0);
                }
                100% {
                    -moz-box-shadow: 0 0 0 0 rgba(74, 222, 128, 0);
                    box-shadow: 0 0 0 0 rgba(74, 222, 128, 0);
                }
            }
        }

        &-answer {
            font-size: 0.85rem;
        }
    }

    &__projects {
        &-link {
            color: white;
            text-decoration: none;
            width: 100%;
            display: flex;
            justify-content: space-between;
            transition: 0.1s ease-out;

            &:hover,
            &:focus {
                color: var(--primary-color);
                transition: 0.1s ease-in;
            }

            &-header {
                margin: 0;
                font-size: 1.25rem;
            }
        }

        &-icon {
            rotate: 180deg;
            width: 12px;
            height: 12px;
            margin: auto 0;
            transition: 0.1s ease-out;

            &:hover,
            &:focus {
                fill: var(--primary-color);
                transition: 0.1s ease-in;
            }
        }
    }

    &__color-footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__footer {
        font-size: 0.875rem;

        & p {
            margin: 0;
        }

        & a {
            text-decoration: none;
        }

        &-react {
            color: #087ea4;
        }

        &-scss {
            color: #cf649a;
        }

        &-author {
            color: white;
            font-weight: bold;
        }
    }
}

@media only screen and (min-width: 500px) {
    .home {
        &__intro {
            &-image {
                width: 35%;
                bottom: -100px;
            }
        }
    }
}

@media only screen and (min-width: 700px) {
    .home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px;
        padding: 20px;
        grid-template-areas:
            "intro intro intro"
            "about about contact"
            "about about timezone"
            "projects current colorFooter";

        &__intro {
            grid-area: intro;

            &-image {
                width: 25%;
                opacity: 0.85;
                right: -10px;
                top: 0;
            }

            &-text {
                width: 75%;
                height: 100%;
                justify-content: space-between;
            }
        }

        &__about {
            grid-area: about;
        }

        &__contact {
            grid-area: contact;
        }

        &__timezone {
            grid-area: timezone;
            gap: 30px;

            & p {
                font-size: 1.5rem;
            }

            &-info {
                display: flex;
                flex-direction: column;
            }
        }

        &__projects {
            grid-area: projects;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__current {
            grid-area: current;
        }

        &__color-footer {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "color color color"
                "footer footer footer";
            grid-area: colorFooter;
        }

        &__color {
            grid-area: color;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__footer {
            grid-area: footer;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 10%;
        grid-template-areas:
            "intro intro about about"
            "intro intro about about"
            "contact timezone timezone current"
            "projects color footer footer";

        &__intro {
            grid-area: intro;

            &-image {
                width: 50%;
                top: 120px;
                right: -20px;
                opacity: 1;
            }

            &-text {
                width: 70%;
                justify-content: space-between;

                &-wrapper {
                    gap: 15px;
                }
            }
        }

        &__about {
            grid-area: about;
        }

        &__contact {
            grid-area: contact;
        }

        &__timezone {
            grid-area: timezone;
            gap: 50px;

            &-info {
                flex-direction: row;
                & p {
                    font-size: 2.2rem;
                }
            }
            &-time {
                font-size: 3rem;
            }
            &-loaction {
                font-size: 3rem;
            }
        }

        &__current {
            grid-area: current;
        }

        &__projects {
            grid-area: projects;
        }

        &__color {
            grid-area: color;
        }

        &__footer {
            grid-area: footer;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .home {
        width: 80%;
        margin: auto auto;
        padding: 50px 20px;

        &__intro {
            &-image {
                top: 80px;
            }
        }
    }
}

@media only screen and (min-width: 1880px) {
    .home {
        width: 60%;
    }
}
