$darkslate-50: #f7f7f7;
$darkslate-200: #c9c9c9;
$darkslate-100: #e3e3e3;
$darkslate-300: #6b6b6b;
$darkslate-400: #383838;
$darkslate-500: #171717;
$darkslate-600: #141414;
$darkslate-700: #111111;
$darkslate-800: #0e0e0e;
$darkslate-900: #0b0b0b;

* {
    box-sizing: border-box;
}

body {
    background-color: $darkslate-700;
    color: white;
}

body::before {
    content: "";
    height: 100vh;
    width: 101vw;
    position: fixed;
    z-index: -1;
    background-color: #000;
    background-image: url(../assets/topography.svg);
    mask: linear-gradient(-360deg, transparent 40%, white 100%);
    -webkit-mask: linear-gradient(-360deg, transparent 40%, white 100%);
}

.home {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    &__links {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    &__button {
        background: none;
        border: 1px solid $darkslate-400;
        box-shadow: none;
        width: 4rem;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    &__link {
        display: flex;
        padding: 8px;
        width: 100%;
        height: 100%;
        justify-content: center;
    }
}

section {
    border: 1px solid $darkslate-400;
    padding: 10px;
    border-radius: 10px;
    background-color: $darkslate-500;
}
